{% extends 'base.html' %}
{% load static %}

{% block title %}Пароль сброшен{% endblock %}
{% load static %}

{% block content %}

      <div style="display: block; margin-left: auto; margin-right: auto">
            <div class="main__header">
                  <h1 class="main__title">Пароль сброшен</h1>
            </div>
            <div class="main__header">
                  <h3 class="main__title">Проверьте свою почту, вам должно прийти письмо со ссылкой для восстановления пароля</h3>
            </div>

      </div>

{% endblock content %}