{% extends 'base.html' %}

{% block content %}
{% load user_filters %}
{% load static %}

{% if validlink %}

<div class="row justify-content-center">
    <div class="col-md-8 p-5">
        <div class="card">

            <h1 class="main__title">Введите новый пароль</h1>
            <div class="card-body">

                <form class="form" method="post" action=''>{% csrf_token %}

                    <input type="hidden" name="next" value="{{ next }}">

                    <div class="form__group">

                        <label for="id_newPassword" class="form__label">Новый пароль</label>
                        <div class="form__field-group">
                            <input type="password" name="new_password1" id="id_newPassword" class="form__input">
                            <span class="form__input-info">Ваш пароль не должен совпадать с вашим именем или другой
                                персональной информацией или быть слишком похожим на неё.</span>
                            <span class="form__input-info">Ваш пароль должен содержать как минимум 8 символов.</span>
                            <span class="form__input-info">Ваш пароль не может быть одним из широко распространённых
                                паролей.</span>
                            <span class="form__input-info">Ваш пароль не может состоять только из цифр.</span>

                        </div>
                    </div>
                    <div class="form__group">
                        <label for="id_confirmPassword" class="form__label">Подтверждение нового пароля</label>
                        <div class="form__field-group">
                            <input type="password" name="new_password2" id="id_confirmPassword" class="form__input">

                        </div>
                    </div>
                    <div class="form__footer">
                        <button class="button button_style_blue">Изменить пароль</button>
                    </div>
                </form>
            </div>

            {% else %}
            <div style="display: block; margin-left: auto; margin-right: auto">
                <div class="main__header">
                    <h1 class="main__title">Ошибка</h1>
                </div>
                <div class="main__header">
                    <h3 class="main__title">Ссылка сброса пароля содержит ошибку или устарела.</h3>
                </div>

            </div>

            {% endif %}

        </div>
        </main>


        {% endblock %}