<!doctype html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Список покупок</title>
    <link rel="stylesheet" href="{% static 'pages/shopList.css' %}">
</head>

<body class="body">
    <header class="header">
        {% include 'f/nav.html' %}
    </header>
    <main class="main container">
        <div class="main__header">
            <h1 class="main__title">Список покупок</h1>
        </div>
        <div class="card-list card-list_column">
            <ul class="shopping-list">
                {% for item in shop_list %}
                <li class="shopping-list__item" data-id="{{item.recipe.id}}">
                    <div class="recipe recipe_reverse">

                        {% if item.recipe.image %}
                        <img src="{{ item.recipe.image.url }}" alt="какой-то текст"
                            class="recipe__image recipe__image_big">
                        {% else %}
                        <img src="{% static '/images/testCardImg.png' %}" alt=" Image was broken"
                            class="recipe__image recipe__image_big">
                        {% endif %}

                        <h3 class="recipe__title">{{ item.recipe.title }}</h3>
                        <p class="recipe__text"><span class="icon-time"></span> {{ item.recipe.cooking_time }} мин.</p>
                    </div>
                    <a href="#" class="shopping-list__button link">Удалить</a>
                </li>
                {% endfor %}
            </ul>
            <a href="{% url 'download_card' %}"><button class="button button_style_blue">Скачать список</button></a>


        </div>
    </main>
    {% include 'f/footer.html' %}
    <script src="{% static 'js/config/config.js' %}"></script>
    <script src="{% static 'js/components/Header.js' %}"></script>
    <script src="{% static 'js/components/ShopList.js' %}"></script>
    <script src="{% static 'js/api/Api.js' %}"></script>
    <script src="{% static 'shopList.js' %}"></script>
</body>

</html>