<!doctype html>
{% load static %}
{% load templates_filters %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Рецепты</title>
    <link rel="stylesheet" href="{% static 'pages/index.css' %}"> 
</head>
<body class="body">
  <header class="header">
    {% include 'f/nav.html' %}
  </header>
    <main class="main container">
        <div class="main__header">
            {% block title %}
            <h1 class="main__title">Все Рецепты</h1>
            <ul class="tags">
                {% for tag in all_tags %}
                    <li class="tags__item">
                        <a
                            id="{{ tags.slug }}"
                            class="tags__checkbox tags__checkbox_style_{{ tag.color }}
                            {% if tag.slug in request.GET|get_filter_values %} tags__checkbox_active {% endif %}"
                            href="{% url 'index' %}?{{ request|get_filter_link:tag }}"></a>
                        <span class="tags__label">{{ tag.name }}</span>
                    </li>
                {% endfor %}

            </ul>
            {% endblock %}
        </div>

            
        <div class="card-list">
        {% block content %}
        {% for post in page %}
        <div class="card" data-id="{{ post.pk }}">
            <a href="#" class="link" target="_blank"><img src="{% static '/images/testCardImg.png' %}"" alt="Какой-то текст" class="card__image"></a>
            <div class="card__body">
                <a class="card__title link" href="#" target="_blank">{{ post.title }}</a>
                <ul class="card__items">

                    {% if post.tags %}
                    <ul class="card__items">
                        {% for tag in post.tags.all %}
                        <li class="card__item"><span class="badge badge_style_{{ tag.color }}">{{ tag.name }}</span></li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </ul>
                <div class="card__items card__items_column">
                    <p class="card__text"><span class="icon-time"></span> {{ post.cooking_time }} мин.</p>
                    <p class="card__text"><span class="icon-user"></span> <a href="#" style="color: black">{{ post.author }}</a></p>
                </div>
            </div>
            <div class="card__footer">
                <button class="button button_style_light-blue" name="purchases" data-out><span class="icon-plus button__icon"></span>Добавить в покупки</button>
                <button class="button button_style_none" name="favorites" data-out><span class="icon-favorite"></span></button>
            </div>
        </div>
        {% endfor %}
        {% endblock %}
    </div>

        {% include 'f/pagination.html' %}
    </main>
    {% include 'f/footer.html' %}
<script src="{% static 'js/components/MainCards.js' %}"></script>

<script src="{% static 'js/components/Purchases.js' %}"></script>

<script src="{% static 'js/config/config.js' %}"></script>
<script src="{% static 'js/components/CardList.js' %}"></script>
<script src="{% static 'js/components/Header.js' %}"></script>

<script src="{% static 'js/api/Api.js' %}"></script>
<script src="{% static 'indexAuth.js' %}"></script>
</body>
</html>
