{% block title %} Один пост {% endblock %}
{% block content %}
<main role="main" class="container">
    <div class="row">
            <div class="col-md-3 mb-3 mt-1">
                <div class="card">
                        <div class="card-body">
                                <div class="h2">
                                    <!-- Имя автора -->
                                    {{ post_author.get_full_name }}
                                </div>
                                <div class="h3 text-muted">
                                     <!-- username автора -->
                                     {{ post_author.get_username }}
                                </div>
                        </div>
                        <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                        <div class="h6 text-muted">
                                        Подписчиков: XXX <br />
                                        Подписан: XXX
                                        </div>
                                </li>
                                <li class="list-group-item">
                                        <div class="h6 text-muted">
                                            <!--Количество записей -->
                                            Записей: {{ count }}
                                        </div>
                                </li>
                        </ul>
                </div>
        </div>
        <div class="col-md-9">
            <!-- Пост -->  

            {% include "post_item.html" with post=post %}
                {% include "comments.html" %}
                {% for comment in com %}
                <small class="text-muted">Комментарий:</small>
                    {{ comment.text|linebreaks }}
                    <small class="text-muted">Автор комментария: {{ comment.author|linebreaks }}</small>
                {% endfor %}
     </div>
    </div>
</main>
{% endblock %}